{% extends 'base.html' %}

{% block title %} JustoFor5Dollars | IndexProject{% endblock %}

{% block content %} 

{% load static from staticfiles %}


<div class="punch_text3">
                    
   <div class="container">
   
   <h3 class="big_headline" data-appear-top-offset="-100" data-animated="fadeInUp"><span class="text_headline">Transforma tu Vida</span> con solo <span class="text_headline">$5</span> Dolares!</h3>
    	<div class="features_02">

       <div class="eight columns left">
             <div class="one-two column" data-appear-top-offset="-100" data-animated="fadeInLeft">

		<!-- First Style -->
		<div class="promo-box">
			<div class="circle-portproject"><img src="{% static 'images/imac.png' %}" alt="services"><span></span></div>
			<div class="promo-desc">
				<h3>Fuly Responsive</h3>
				<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor laudantium totam rem aperiam eaque inventore verita.</p>
			</div>
		</div>

	</div>

	<div class="one-two column" data-appear-top-offset="-100" data-animated="fadeInLeft">

		<!-- Second Style -->
		<div class="promo-box">
			<div class="circle-portproject"><img src="{% static 'images/infinity.png' %}" alt="services"><span></span></div>
			<div class="promo-desc">
				<h3>Flexibel and Liquid</h3>
				<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor laudantium totam rem aperiam eaque inventore verita.</p>
			</div>
		</div>

	</div>

	<div class="one-two column" data-appear-top-offset="-100" data-animated="fadeInLeft">

		<!-- Third Style -->
		<div class="promo-box">
			<div class="circle-portproject"><img src="{% static 'images/box.png' %}" alt="services"><span></span></div>
			<div class="promo-desc">
				<h3>Hot Features</h3>
				<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor laudantium totam rem aperiam eaque inventore verita.</p>
			</div>
		</div>
   </div>       
</div>
</div>
      	
   <div class="eight columns featuredimage" data-appear-top-offset="-100" data-animated="fadeInRight">
      <img src="{% static 'images/portproject.png' %}" alt="">
    </div>
    </div>
</div>




<div class="punch_text2">
<!-- Container -->
<div class="container">

	<div class="one-third column" data-appear-top-offset="-100" data-animated="fadeInLeft">
		<!-- First Style -->
		<div class="featured-box">
			<div class="circle-featured"><i class="icon-laptop"></i><span></span></div>
			<div class="featured-desc">
				<h3><span class="boldtext">Multi</span> Platform</h3>
				<p>Interdum sociis natoque penatibus et magnis dis parturient ridiculus</p>
			</div>
		</div>

	</div>
    
    	<div class="one-third column" data-appear-top-offset="-100" data-animated="fadeInUp">

		<!-- First Style -->
		<div class="featured-box">
			<div class="circle-featured"><i class="icon-cogs"></i><span></span></div>
			<div class="featured-desc">
				<h3><span class="boldtext">Full</span> Support</h3>
				<p>Interdum sociis natoque penatibus et magnis dis parturient ridiculus</p>
			</div>
		</div>

	</div>
    
    	<div class="one-third column" data-appear-top-offset="-100" data-animated="fadeInRight">

		<!-- First Style -->
		<div class="featured-box">
			<div class="circle-featured"><i class="icon-magic"></i><span></span></div>
			<div class="featured-desc">
				<h3><span class="boldtext">Fabulous</span> Idea</h3>
				<p>Interdum sociis natoque penatibus et magnis dis parturient ridiculus</p>
			</div>
		</div>

	</div>
    
    	<div class="one-third column" data-appear-top-offset="-100" data-animated="fadeInLeft">

		<!-- First Style -->
		<div class="featured-box">
			<div class="circle-featured"><i class="icon-cloud-download"></i><span></span></div>
			<div class="featured-desc">
				<h3><span class="boldtext">Cloud</span> Services</h3>
				<p>Interdum sociis natoque penatibus et magnis dis parturient ridiculus</p>
			</div>
		</div>

	</div>
    
    	<div class="one-third column" data-appear-top-offset="-100" data-animated="fadeInUp">

		<!-- First Style -->
		<div class="featured-box">
			<div class="circle-featured"><i class="icon-rocket"></i><span></span></div>
			<div class="featured-desc">
				<h3><span class="boldtext">Gadget</span> Friendly</h3>
				<p>Nam condimentum nec mi aliquam accumsan phasellus nulla lorem gravida.</p>
			</div>
		</div>

	</div>
    
    	<div class="one-third column" data-appear-top-offset="-100" data-animated="fadeInRight">

		<!-- First Style -->
		<div class="featured-box">
			<div class="circle-featured"><i class="icon-eye-open"></i><span></span></div>
			<div class="featured-desc">
				<h3><span class="boldtext">Clean</span> Layout</h3>
				<p>Interdum sociis natoque penatibus et magnis dis parturient ridiculus</p>
			</div>
		</div>

	</div>
	

</div>
<!-- Container / End -->
</div>



<!-- Container -->
<div class="container">

	<!-- Headline -->
<div class="fiveteen columns">
    <div class="container">
		<h3 class="headline"><span class="text_headline">Recent</span> Work</h3>
		<span class="line" style="margin-bottom:35px;"></span>
	  </div>
			<ul class="grid cs-style">
				<li>
					<figure>
						<img src="{% static 'images/pf-2.jpg' %}" alt="img02">
						<figcaption>
							<h3>Recent Work 1st</h3>
							<span>Application</span>
							<a href="single-project-half.html">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'images/pf-8.jpg' %}" alt="img04">
						<figcaption>
							<h3>Recent Work 2nd</h3>
							<span>Art Design</span>
							<a href="single-project-half.html">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'images/pf-10.jpg' %}" alt="img06">
						<figcaption>
							<h3>Recent Work 3rd</h3>
							<span>Logo Design</span>
							<a href="single-project-half.html">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'images/pf-11.jpg' %}" alt="img05">
						<figcaption>
							<h3>Recent Work 4th</h3>
							<span>Website</span>
							<a href="single-project-half.html">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
			<div class="clearfix"></div>
     </div>
</div>
<!-- Container / End -->

<br />
    





<div class="parallax-sec" data-type="background" data-speed="8">
	<div class="container">
		<!-- Navigation / Left -->
	<div id="showbiz_left_3" class="sb-navigation-left-2 alt"><i class="icon-angle-left"></i></div>

	<!-- ShowBiz Carousel -->
	<div id="happy-clients" class="showbiz-container sixteen carousel columns" >

	<!-- Portfolio Entries -->
	<div class="showbiz our-clients" data-left="#showbiz_left_3" data-right="#showbiz_right_3">
		<div class="overflowholder">

			<ul data-appear-top-offset="-100" data-animated="fadeInUp">

				<li>
					<div class="happy-clients-photo"><img src="{% static 'images/happy-clients-01.jpg' %}" alt="" /></div>
					<div class="happy-clients-cite">A man only learns in two ways, one by reading, and the other by association with smarter people</div>
					<div class="happy-clients-author">Will Rogers</div>
				</li>
				
				<li>
					<div class="happy-clients-photo"><img src="{% static 'images/happy-clients-02.jpg' %}" alt="" /></div>
					<div class="happy-clients-cite">Happiness lies in the joy of achievement and the thrill of creative effort</div>
					<div class="happy-clients-author">Franklin D. Roosevelt</div>
				</li>
				
				<li>
					<div class="happy-clients-photo"><img src="{% static 'images/happy-clients-03.jpg' %}" alt="" /></div>
					<div class="happy-clients-cite">If you have knowledge, let others light their candles with it</div>
					<div class="happy-clients-author">Winston Churchil</div>
				</li>

			</ul>
			<div class="clearfix"></div>

		</div>
		<div class="clearfix"></div>

	</div>
	</div>

	<!-- Navigation / Right -->
	<div id="showbiz_right_3" class="sb-navigation-right-2 alt"><i class="icon-angle-right"></i></div>
  </div>

</div>


<!-- Container -->
<div class="container">

	<!-- Navigation / Left -->
	<div class="one carousel column"><div id="showbiz_left_2" class="sb-navigation-left-2"><i class="icon-angle-left"></i></div></div>

	<!-- ShowBiz Carousel -->
	<div id="our-clients" class="showbiz-container fourteen carousel columns" >

	<!-- Portfolio Entries -->
	<div class="showbiz our-clients" data-left="#showbiz_left_2" data-right="#showbiz_right_2">
		<div class="overflowholder">

			<ul data-appear-top-offset="-100" data-animated="fadeInUp">
				<!-- Item -->
				<li><img src="{% static 'images/logo-01.png' %}" alt="" /></li>
				<li><img src="{% static 'images/logo-02.png' %}" alt="" /></li>
				<li><img src="{% static 'images/logo-03.png' %}" alt="" /></li>
				<li><img src="{% static 'images/logo-04.png' %}" alt="" /></li>
				<li><img src="{% static 'images/logo-05.png' %}" alt="" /></li>
				<li><img src="{% static 'images/logo-06.png' %}" alt="" /></li>
				<li><img src="{% static 'images/logo-07.png' %}" alt="" /></li>
			</ul>
			<div class="clearfix"></div>

		</div>
		<div class="clearfix"></div>

	</div>
	</div>

	<!-- Navigation / Right -->
	<div class="one carousel column"><div id="showbiz_right_2" class="sb-navigation-right-2"><i class="icon-angle-right"></i></div></div>

</div>
<!-- Container / End -->

{% endblock %}